{:source-paths ["src" "test"]
 :deps true
 :nrepl {:port 3002
         :middleware [cider.nrepl/cider-middleware
                      cider.piggieback/wrap-cljs-repl]}
 :builds {:main {:target :browser
                 :output-dir "public/js"
                 :asset-path "/js"
                 :modules {:main {:entries [drawing-exercises.core]
                                  :init-fn drawing-exercises.core/init}}
   :devtools {:http-root "public"
              :http-port 3001}}}}

               
