{:source-paths ["src" "test"]
 :dev {:compiler-options {:output-feature-set :es-next}}
 :nrepl {:port 7002 :host "0.0.0.0"}
 :builds
 {:main
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main
    {:entries [drawing-exercises.core]}}
   :devtools
   {:http-root "public"
    :http-port 7000
    :http-host "0.0.0.0"
    :ws-port 7001
    :ws-host "0.0.0.0"}
   :compiler-options
   {:output-wrapper false}}

  :test
  {:target :node-test
   :output-to "test.js"
   :ns-regexp "^drawing-exercises.*-test$"
   :autorun true}}}
